@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu&family=Varela+Round&display=swap');

*{
    margin:0;
    padding:0;
    text-decoration: none;
}
body{
    background:rgb(29, 29, 29);
    
}
nav{
    font-family:ubuntu;
    background-color:rgb(12, 9, 9);
    right:0;
    top:0;
    left:0;
    position:fixed;

}
nav ul{
    display:flex;
    align-items:center;
    list-style-type:none;
    height:55px;
    color:white;
}
nav ul li{
    padding:0 12px;
}
nav ul li a{
    color: white;
}
nav ul li a:hover{
    color:dimgray;
}
.home{
    padding-left: 50px;
}
.brand img{
    width:45px;
    text-align: center;
    padding-left: 10px;
    padding-right:8px;
}

.brand{
    font-family:ubuntu;
    color:white;
    display:flex;
    font-weight:bolder;
    align-items:center;
    font-size:1.3rem;
}

.container{
    height:62vh;
    background:black;
    color:white;
    font-family:'varela',sans-serif;
    display:flex;
    margin:80px auto;
    width:70%;
    border-radius:10px;
    padding:34px;
    background-image:url("img/headerphoto.jpg");
    background-size:cover;
    background-position: center;
    background-attachment:fixed;
    overflow:hidden;
    overflow-y:scroll;
    scrollbar-color:grey rgb(12, 9, 9);
    scrollbar-width:thin;
}
.container::-webkit-scrollbar{
    visibility: hidden;
}
.boa{
    position: fixed;
    z-index: 10;
}
.bottom{
    height:15vh;
    position:fixed;
    background-color:rgb(12, 9, 9);
    bottom:0px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    flex-direction:row;
    width:100%;
}
#time{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    left: 0%;
    margin-left: 210px;
}
#myProgressBar{
    width:50vw;
    cursor:pointer;
    margin-top: 20px;
    height: 5px;
}
#currentTime,
#totalTime{
    font-size: 15px;
    padding: 15px 10px 0px 10px;
}


.icons{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-right: 100px;
}
#prev,
#next
{
    cursor: pointer;
    font-size: 35px;
    padding: 22px 18px;
}
#play{
    cursor: pointer;
    padding: 10px 0px; 
    font-size: 55px;
}
#shuffle,
#loop{
    cursor: pointer;
    font-size: 25px;
    padding:28px 10px;
}
#shuffle:hover,
#loop:hover,
#prev:hover,
#next:hover,
#play:hover{
    transform: scale(1.1, 1.1);
    opacity: 0.8;
}

.leftcontainer{
    background-color:rgb(12, 9, 9);
    color:white;
    width:14%;
    height:62vh;
    display: flex;
    flex-direction: column;
    font-family:'varela',sans-serif;            
    float:left;
    margin: 0px 5px 0px 30px;
    padding:34px;
    border-radius: 10px;
}
.songbox{
    height:70px;
    background:rgb(48, 48, 48);
    position:relative;
    width:210px;
    border-radius: 7px;
    margin-top: 10px;
}
.songbox:hover{
    background:rgb(73, 72, 72);
    transition: 0.7s;
}
.songbox:not(:hover){
    background:rgb(48, 48, 48);
    transition: 0.7s;
}
.songbox img{
    border-radius:7px 0px 0px 7px;
    width:30%;
    height:100%;
}

.songbox h5{
    position:absolute;
    left:70px;
    bottom:22px;
    font-family:'varela',sans-serif;
    color:white;
    font-size:0.8rem;
}

.masterplay{
    position:absolute;
    left:170px;
    top:15px;
    cursor:pointer;
    color:rgb(67, 209, 67);
    background-color: black;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    visibility: hidden;
}
.masterplay:hover{
    transform: scale(1.1, 1.1);
    color:rgb(97, 206, 97);
    transition: 0.3s;
}
.masterplay:not(:hover){
    transform:  scale(1, 1);;
    color:rgb(67, 209, 67);
    transition: 0.3s;
}


