@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu&family=Varela+Round&display=swap');

body{
    background:rgb(29, 29, 29);
    
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin:0;
    padding:0;
}

nav{
    font-family:ubuntu;
    background-color:rgb(12, 9, 9);
    right:0;
    top:0;
    left:0;
}

nav ul{
    display:flex;
    align-items:center;
    list-style-type:none;
    height:55px;
    color:white;
}

nav ul li{
    padding:0 12px;
}

.home{
    padding-left: 70px;
    color:white;
    cursor:pointer;
}

.about{
    color:dimgray;
    cursor:pointer;
}

.about:hover{
    color:white;
}

.brand img{
    width:45px;
    text-align: center;
    padding-left: 10px;
    padding-right:8px;
}

.brand{
    font-family:ubuntu;
    color:white;
    display:flex;
    font-weight:bolder;
    align-items:center;
    font-size:1.3rem;
}

.container{
    background:rgb(22, 21, 21);
    color:white;
    height:680px;
    width:70%;
    left:15%;
    position:relative;
    overflow:hidden;
    overflow-y:scroll;
}

.theimg{
    width:95%;
    height:300px;
    margin: 10px 15px;
    background-color:white;
    background-image: url(headerphoto.jpg);
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

.container h1{
    position:relative;
    padding:35px;
    color:white;
}

.main{
    background:#161515;
    position:relative;
    width:93%;
    margin:0 auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.songbox{
    height:85px;
    background:rgb(48, 48, 48);
    position:relative;
    width:310px;
    border-radius: 7px;
    margin-top: 5px;
}

.songbox img{
    border-radius:10px;
    padding: 7px 7px;
    width:25%;
    height:80%;
}

.songbox h5{
    position:absolute;
    left:130px;
    bottom:22px;
    font-family:'varela',sans-serif;
    color:white;
    font-size:1.1rem;
}

#masterplay{
    position:absolute;
    left:260px;
    top:20px;
    cursor:pointer;
    color:black;
    background:white;
    border-radius:20px;
    border:2px solid white;
}
#masterplay:hover{
    transform: scale(1.1, 1.1);
}


.main2{
    background:rgb(31, 31, 31);
    position:relative;
    width:93%;
    margin:0 auto;
    display:flex;
    flex-flow: row wrap;
    padding:10px;
    border-radius: 10px;
}
.songbox7,
.songbox8,
.songbox9,
.songbox10{
    height:320px;
    background:rgb(82, 82, 106);
    position:relative;
    width:226px;
    border-radius:7px;
    margin:10px 20px 0px 0px;
    left: 10px;
}
.songbox7 img,
.songbox8 img,
.songbox9 img,
.songbox10 img{
    border-radius:100%;
    height:65%;
    position:relative;
    margin: 7px 7px;
}

.songbox7 h5,
.songbox8 h5,
.songbox9 h5,
.songbox10 h5{
    position:absolute;
    color:white;
    font-family:'varela',sans-serif;
    padding:5px;
    font-size:1.1rem;
    font-weight: lighter;
}

